<ion-app>
  <!-- Side Menu -->
  <ion-menu *ngIf="!isLoginPage()" contentId="main-content">
    <ion-content>
      <!-- Custom Gradient Header (no white box) -->
      <div class="menu-header">
        <ion-label>
          <h2>{{ user?.fullName }}</h2>
          <p>{{ user?.email }}</p>
        </ion-label>
      </div>

      <!-- Loop through pages -->
      @for(page of pages; track $index) {
        <ion-menu-toggle class="menu-items" [autoHide]="false">
          <ion-item 
            lines="none"
            class="ion-padding-start ion-margin-top"
            [routerLink]="page.url"
            routerDirection="root"
          >
            <ion-icon 
              slot="start"
              [ios]="page.icon + '-outline'"
              [md]="page.icon + '-sharp'">
            </ion-icon>
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      }
    </ion-content>
  </ion-menu>

  <!-- Main Page Content -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
